#about {
    position: relative;
    margin: 10px;
    font-size: 10px;
    text-align: left;
    height: calc(100% - 20px);

    #pro-features {
        div {
            margin: 10px 20px;
        }
    }

    #about-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 5px;

    }
}