#composers {
    box-shadow: var(--shadow);
    overflow: scroll;
    box-sizing: border-box;
    padding: 10px;

    .composer {
        display: inline-block;

        .composer-name {
            font-size: 10px;
            margin: 5px 10px;
            height: 0;
            overflow: hidden;
            transition: .3s;
        }


        .composer-image {
            width: 100%;
            overflow: hidden;
            display: inline-block;
            border-radius: 5px;
            box-shadow: var(--shadow);
            max-height: 70px;
        }

        .composer-image img {
            width: 100%;
            object-fit: cover;
        }
    }

    .selected-composer {
        .composer-info {
            background: var(--green);
            transition: all .2s ease-in-out;
            box-shadow: 0 0 10px 0px white;
            border-radius: 5px;
        }

        .composer-name {
            font-size: 10px;
            padding: 0 0 5px 0;
            height: fit-content;
        }
    }

}