#composers {

    overflow: scroll;
    width: 40%;
    height: 100%;
    box-shadow: var(--shadow);
    overflow: scroll;
    box-sizing: border-box;
    padding-bottom: 20px;

    .composer {
        display: inline-block;
        margin: 10px;
        margin-bottom: 0;
        box-shadow: var(--shadow);

        width: calc(100% - 20px);

        .composer-name {
            font-size: 10px;
            height: 0px;
            overflow: hidden;
            transition: .3s;

        }


        .composer-image {
            overflow: hidden;
            box-shadow: var(--inset-shadow);
            display: block;
            border-radius: 5px;
            width: 100%;
            margin: auto;
        }

        &.selected-composer {
            background: var(--green);
            transition: all .2s ease-in-out;
            box-shadow: 0 0 10px 0px white;
            border-radius: 5px;

            .composer-name {
                height: 10px;
                padding: 5px 0;
            }


        }






    }

}