#pro {
    overflow: scroll;
    height: calc(100% - 20px);
    text-align: center;
    padding: 10px;
    padding-bottom: 100px;
    font-size: 8px;


    #pro-login {

        button {
            font-size: 10px;

        }



        input {
            font-size: 10px;
            padding: 5px;
            margin: 0;
            margin-bottom: 10px;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.3);
            color: white;
            border: none;
            box-sizing: border-box;
            box-shadow: var(--inset-shadow);

        }

        #login-button {
            display: block;
            margin: auto;
            font-size: 10px;
        }

        .login-error {
            font-size: 10px;
            color: var(--red);
            margin: 10px 0 0 0;
        }


    }

    #about {
        margin-top: 20px;
        text-align: center;
        font-size: 10px;

        background: rgba(0, 0, 0, .3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 10px;

        #about-title {
            font-size: 15px;
        }

        #pro-features {
            margin: 10px;
            text-align: left;




            .feature {
                .feature-icon {
                    font-size: 15px;
                }

                .feature-text {
                    margin: 10px;
                }
            }
        }



    }

    #pro-user {
        height: calc(100% - 20px);
        position: relative;

    }

    #pro-inputs {
        margin: 10px;
    }

    #user-buttons {

        height: 40px;
        overflow: hidden;
        position: relative;

        button {
            margin-bottom: 10px;
            font-size: 10px;
        }


        margin-bottom: 5px;

    }

    #uploadDialog {
        box-shadow: var(--shadow);
        overflow: hidden;
        text-align: left;
        margin: 20px auto;
        padding: 10px;
        border-radius: 5px;
        background: rgba(0, 0, 0, .3);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: white;
        height: 200px;

        #upload-options {

            .upload-info {
                font-size: 10px;
            }

            margin: 10px;

            label {
                margin: 10px;
                display: block;
            }
        }

        #close-dialog-button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            background: rgba(0, 0, 0, .3);
            border: none;
            color: white;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;

        }
    }

    #user-files {
        height: calc(100% - 25px);
        box-sizing: border-box;
        box-shadow: var(--inset-shadow);
        background: rgba(0, 0, 0, .3);

        border-radius: 5px;
        overflow: scroll;
        padding-bottom: 10px;


        .user-midi {
            font-size: 10px;
            background: rgba(0, 0, 0, .3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            margin: 10px;
            width: calc(100% - 20px);
            margin-bottom: 0px;
            text-overflow: ellipsis;
            white-space: wrap;
            overflow: hidden;
            user-select: none;
            position: relative;

            .download-buttons {
                text-align: right;
            }







        }

        .selected-user-midi {
            background: var(--green);
            transition: all .2s ease-in-out;
            box-shadow: 0 0 10px 0px white;
        }
    }


}