#pro {
    overflow: scroll;
    height: 100%;
    text-align: left;



    #upload-options {
        margin: 10px;
    }

    #uploadDialog {
        box-shadow: var(--shadow);
        overflow: hidden;
        text-align: left;
        margin: 20px auto;
        padding: 10px;
        border-radius: 5px;
        background: rgba(102, 187, 106, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: white;

        #upload-options {

            label {
                display: block;
            }
        }
    }

    #user-files {
        width: 100px;

        .user-file {
            display: block;
            user-select: none;
        }

        .selected-user-midi {
            background: var(--green);
            transition: all .2s ease-in-out;
            box-shadow: 0 0 10px 0px white;
        }
    }


}