#record {
    font-size: 10px;
    position: relative;
    text-align: left;
    height: 100%;


    #recording-buttons {
        height: 30px;
        padding: 10px;
        text-align: center;

        button {
            font-size: 10px;
            margin: 0;
        }

    }

    .no-midi-keyboard {
        text-align: center;
        color: var(--text-color);
        height: 30px;
        font-size: 10px;
        margin: 10px;
        box-sizing: border-box;
    }

    #saved-recordings {
        padding-bottom: 20px;
        height: calc(100% - 60px);
        overflow: scroll;
        box-shadow: var(--inset-shadow);
        text-align: right;
        background: rgba(0, 0, 0, .3);

        .recording {
            border: 1px solid rgba(255, 255, 255, 0.3);
            position: relative;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: var(--shadow);
            background: rgba(0, 0, 0, .3);
            ;

            .recording-label {
                text-align: left;
            }

            .recording-likes {
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 10px;
                margin: 5px;
            }


            button {
                display: inline-block;
                background: rgba(0, 0, 0, .5);
            }



        }

        .selected-recording {
            background: var(--green);
            transition: all .2s ease-in-out;
            box-shadow: 0 0 10px 0px white;

        }

        .no-recordings {
            text-align: center;
            color: var(--text-color);
            margin-top: 10px;
        }
    }
}