#piano-app {

    #piano-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: url('/background.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -100;
        filter: brightness(0.5);

    }

    #piano-canvas {
        padding-top: calc(100vh - 50px);
    }

    #hide-panel {
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px;
        color: white;
        font-size: 20px;
        z-index: 100;
    }




}