  #piano-keys {
      border-top: 2px solid #D32F2F;

      display: flex;
      position: fixed;
      bottom: 0px;
      overflow: hidden;

      .black-key {
          box-shadow: var(--shadow);
      }
  }