   #piano-notes {
       overflow-x: hidden;
       overflow-y: scroll;
       position: relative;


       .piano-note {
           box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);

       }

       @keyframes pop {
           0% {
               transform: scaleY(-1) scale(1);
           }

           50% {
               transform: scaleY(-1) scale(1.4);
           }

           100% {
               transform: scaleY(-1) scale(1);
           }
       }


   }