#panel {
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
    display: flex;
    text-align: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 200;
    padding-right: 50px;


    button {
        color: white;
    }

    #right-side-panel {
        width: 60px;
        box-shadow: var(--shadow);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        #logo {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 40px;
            margin: 10px;
            box-sizing: border-box;
            border-radius: 50%;
            transition: .3s;
            box-shadow: var(--shadow);
        }


        #settings-button {
            position: absolute;
            bottom: 5px;
            right: 0;
            font-size: 15px;
        }




    }

    #select-layer {
        border-top: none;
        border-bottom: none;
        box-shadow: var(--shadow);
        width: 60px;
        position: relative;

        button {
            text-transform: uppercase;
            height: 40px;
            width: 40px;
            font-size: 15px;
            margin: 10px;
            margin-bottom: 0;
        }

        .selected-layer {
            background: var(--green);
            box-shadow: 0 0 10px 0px white;
        }



    }

    #current-layer {
        overflow: hidden;
        height: 100%;
        width: calc(100% - 70px);

        #samples {
            height: 100%;
        }

        #samples-container {
            height: 100%;

            #composers {
                white-space: nowrap;
                overflow-x: scroll;
                width: 100%;
                height: 100px;
                box-shadow: var(--shadow);
                overflow: scroll;
                box-sizing: border-box;
                padding-right: 20px;

                .composer {
                    display: inline-block;
                    transition: .3s;
                    cursor: pointer;
                    height: 60px;
                    width: 50px;
                    margin: 20px;
                    margin-right: 0px;
                    box-shadow: var(--shadow);
                    overflow: hidden;
                    position: relative;
                    background: var(--green);
                    border-radius: 5px;


                    .composer-name {
                        font-size: 0px;
                        transition: .3s;
                    }


                    .composer-image {
                        height: 100px;
                    }

                    &.selected-composer {
                        box-shadow: 0 0 10px 0px white;



                        .composer-name {
                            font-size: 8px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            text-align: center;
                            background: var(--green);
                            border-radius: 0 0 5px 5px;
                            padding: 2px;
                        }
                    }

                }

            }

            #composer-pieces {
                background: rgba(0, 0, 0, .3);

                text-align: center;
                overflow: scroll;
                width: 100%;
                height: calc(100% - 100px);
                padding: 10px;
                box-sizing: border-box;

                button {
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                #selected-midi {
                    background: var(--green);
                    transition: all .2s ease-in-out;
                    box-shadow: 0 0 10px 0px white;
                }
            }
        }






    }









}

@media screen and (orientation: landscape) {
    #panel {
        width: 300px;
        height: 100%;
        right: 0;
    }

}