#home {
    margin: 20px;

    a {
        cursor: pointer;
    }

    #name {
        font-size: 20px;
    }

    #title {
        font-size: 15px;
        margin: 10px 20px;
    }

    button {
        cursor: pointer;
        color: white;
        font-size: 12px;
        margin: 10px;
    }

    #projects {
        margin: 10px 20px;
    }


    #qr-code {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
        width: 100px;
        border-radius: 5px;

        img {
            width: 100%;
            filter: brightness(0.5) invert(1);
        }

    }
}