:root {
  --shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --inset-shadow: #000 1px 1px 3px 0 inset;
  --green: rgb(102, 187, 106);
  --font: "Roboto", sans-serif;

  --white: rgba(255, 255, 255, 0.3);
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

button {
  font-size: 8px;
  margin: 5px 10px;
  font-family: var(--font);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  box-shadow: var(--shadow);

  &:active {
    box-shadow: var(--inset-shadow);
  }
}


.app-link {
  button {
    color: black;
  }
}

#piano-app {
  position: relative;
  padding-top: 100px;

}

#piano-keys {
  border-top: 2px solid #D32F2F;

  display: flex;
  position: fixed;
  bottom: 0px;
  overflow: hidden;

  .black-key {
    box-shadow: var(--shadow);
  }
}

#piano-notes {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 100px;
  position: relative;


}



#play-notes {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 100;
}


#piano-controls {
  text-align: center;

  box-shadow: var(--shadow);
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background: white;
  z-index: 100;
  width: 30%;
  display: flow;
  bottom: 0;
  height: 100vh;
  z-index: 200;
  background: white;
  display: flex;

  #resize {
    font-size: 15px;
    display: grid;
    place-items: center;

  }

  #select-midi {
    display: flex;
    overflow: scroll;
    box-shadow: var(--inset-shadow);

    #samples{
      display: flex;
    }


    #composers{
      box-shadow: var(--shadow);
      width: 100px;
    }
   

    .composer {
      padding: 5px 10px;
      display: flex;

     

      .composer-name{
        font-size: 10px;
        margin: 5px 10px;
      }

      .composer-image {
        width: 100%;
        overflow: hidden;
        display: inline-block;
        border-radius: 5px;
        box-shadow: var(--shadow);
        max-height: 100px;
        max-width: 100px;
      }

      .composer-image img {
        width: 100%;
        object-fit: cover;
      }
    }

     #composer-pieces{
        text-align: left;
        height: 100%;
        overflow:scroll;
        box-shadow: var(--inset-shadow);
      }


  }

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
}

.composer-name{
  display: none;
}
 .selected-composer{
        .composer-info{
          background: var(--green);
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px 0px white;
  border-radius: 5px;
        }
        .composer-name{
          display: block;
        }
    }

#highlight {
  position: fixed;
  width: 100%;
  opacity: .5;
  display: flex;
}


#selected-midi {
  background: var(--green);
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px 0px white;
}

#piano-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -100;
  filter: brightness(0.6);

}

@keyframes pop {
  0% {
    transform: scaleY(-1) scale(1);
  }

  50% {
    transform: scaleY(-1) scale(1.4);
  }

  100% {
    transform: scaleY(-1) scale(1);
  }
}



@media (max-width: 400px) {
  #piano-controls {
    height: 200px;
    overflow: scroll;
    width: 100%;
  }

  #highlight {
    display: none;
  }
}