:root {
  --shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --inset-shadow: #000 1px 1px 3px 0 inset;
}


body {
  margin: 0;
  padding: 0;
}

#piano-app {
  position: relative;
  padding-top: 200px;

}

#piano-keys {
  display: flex;
  height: 100px;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  opacity: .5;
  overflow: hidden;

  .black-key{
    box-shadow: var(--shadow);
  }
}

#piano-notes {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 200px;
  position: relative;

  .piano-note{
    box-shadow: var(--shadow) ;
  }
  

}

#play-notes {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 100;
}


#piano-controls {
    box-shadow: var(--shadow);
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background: white;
  height: 100px;
  z-index: 100;
  width: 20%;
  display: flow;
  bottom: 0;
  padding: 10px;
  height: 100vh;
  z-index: 200;
  background: white;

  button {
    font-size: 10px;
    margin: 10px;
  }
}

#highlight {
  width: 100%;
}

#select-midi{
  overflow: scroll;
  height: 200px;
  box-shadow: var(--inset-shadow);
}


@media (max-width: 400px) {
  #piano-controls {
    display: none;
  }
}
