:root {
  --shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
  --inset-shadow: #000 1px 1px 3px 0 inset;
  --green: rgb(102, 187, 106);
  --red: #ef5350;
  --font: "Roboto", sans-serif;
  --white: rgba(255, 255, 255, 0.3);
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background: #212121;
  color: white;
  overscroll-behavior: none;

}

button {
  cursor: pointer;
  font-size: 8px;
  margin: 5px 10px;
  font-family: var(--font);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, .3);
  box-shadow: var(--shadow);

  &:active {
    box-shadow: var(--inset-shadow);
  }
}

.styled-upload-button {
  cursor: pointer;
  font-size: 8px;
  margin: 5px 10px;
  font-family: var(--font);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--shadow);
  display: inline-block;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  text-align: center;
}


/* Apply it globally */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}